* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #bdbdbd;
}

button {
    width: 90px;
    height: 90px;
    margin: 5px;
    font-size: 40px;
    font-weight: bold;
    color: #FFFFFF;
    border-radius: 10px;
}

.numbers {
    background-color: #878787;
}

.actions {
    background-color: #555555;
}

.finalize {
    background-color: #363636;
}

.erase {
    background-color: #ca6131;
}

.wide {
    width: 192px;
    height: 90px;
    margin: 5px;
    border-radius: 10px;
}

.calculator-container {
    width: 410px;
}

input {
    width: 395px;
    font-size: 48px;
    border-radius: 10px;
    margin: 5px;
    text-align: right;
}

.container {
    margin: 5px;
    padding: 0;
    border: 2px solid #000000;
    border-radius: 10px;
}

.row > * {
    margin-top: 0;
    padding-right: 0;
    padding-left: 0;
}

.row {
    --bs-gutter-x: 0;
}

.col-sm {
    width: 100px;
}

input {
    background-color: rgb(247, 254, 236);
}
